---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import HeaderPc from "../components/HeaderPc.astro";
import Layout from "../layouts/Layout.astro";
import ImagenHero from "../assets/images/imagen-hero-movil.png";
import ImagenHeroPc from "../assets/images/imagen-hero-pc.png";

import ImagenAstro from "../assets/images/astro.png";
import ImagenWordpress from "../assets/images/wordpress.png";

import ImagenProyecto1 from "../assets/images/imagen-proyecto-1.png";
import ImagenProyecto2 from "../assets/images/imagen-proyecto-2.png";
import ImagenProyecto3 from "../assets/images/imagen-proyecto-3.png";
---

<Layout>
  <Header />
  <HeaderPc />

  <main class="w-full">
    <section
      class="relative top-0 left-0 z-0 h-full bg-linear-to-b from-0% from-Vdeg via-50% via-Rdeg to-100% to-Odeg"
    >
      <div class="max-w-7xl mx-auto p-3">
        <div class="flex flex-col mt-24 lg:mt-36 items-center">
          <h1
            class="w-full max-w-4xl font-DelaGothicOne text-2xl md:text-4xl text-blanco lg:text-6xl text-center"
          >
            SITIO WEB INFORMATIVO <span class="text-terciario">PROFESIONAL</span
            > PARA TU EMPRESA
          </h1>
          <p
            class="w-full max-w-3xl text-center text-blanco text-base font-Poppins mt-10"
          >
            Tu negocio necesita una web moderna, rápida y optimizada para
            mostrar lo que ofreces y convertir visitantes en clientes.
          </p>

          <div class="flex flex-col lg:flex-row mt-10 items-center gap-5">
            <a
              href="#"
              class="group min-w-2xs relative overflow-hidden flex gap-5 items-center text-sm lg:text-base
								text-blanco font-Poppins font-bold
								bg-btn px-11 py-4 rounded-4xl
								transition-all duration-500
								hover:-translate-y-0.5
								hover:shadow-[0_15px_50px_rgba(0,0,0,0.25)]"
            >
              <!-- Efecto luz que cruza -->
              <span
                class="absolute inset-0 -translate-x-full
									bg-linear-to-r
									from-transparent
									via-white/30
									to-transparent
									group-hover:translate-x-full
									transition-transform duration-1000
									ease-[cubic-bezier(0.22,1,0.36,1)]"
              >
              </span>

              <span class="relative z-10"> Hablemos por whatsapp </span>

              <Icon
                name="iconoir:whatsapp-solid"
                class="relative z-10 text-blanco size-6
									transition-transform duration-300
									group-hover:rotate-6 group-hover:scale-110"
              />
            </a>

            <a
              href="#proyectos"
              class="group min-w-2xs px-11 py-4
								border border-btnSecundario
								rounded-4xl
								text-btnSecundario text-sm lg:text-base
								font-bold flex justify-center
								transition-all duration-300
								hover:bg-btnSecundario/10
								hover:border-btnSecundario
								hover:-translate-y-0.5"
            >
              <span
                class="transition-colors duration-300
									group-hover:text-white"
              >
                Ver proyectos
              </span>
            </a>
          </div>
        </div>

        <picture class="mt-10 sm:mt-16 lg:mt-32 flex flex-col items-center">
          <source media="(min-width: 640px)" srcset={ImagenHeroPc.src} />

          <Image
            src={ImagenHero}
            alt="Imagen hero KCMSMART.COM"
            class="w-full sm:w-[550px] md:w-[650px] lg:w-[950px] h-auto shadow-2xl"
            fetchpriority="high"
          />
        </picture>

        <div class="flex flex-col items-center gap-5 mt-16">
          <span
            class="text-blanco font-Poppins font-extralight text-sm lg:text-base"
            >Con tecnología</span
          >
          <div class="flex gap-5 justify-center">
            <Image
              src={ImagenAstro}
              class="w-6 sm:w-9 md:h-auto"
              width={63}
              height={79}
              alt="Imagen de Astro"
            />
            <Image
              src={ImagenWordpress}
              class="size-7 sm:size-10"
              width={64}
              height={63}
              alt="Imagen de Wordpress"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="w-full bg-Odeg">
      <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 p-3 gap-10">
        <div class="mt-24 lg:mt-32 flex flex-col gap-6 max-w-2xl">
          <!-- TÍTULO -->
          <h2
            class="text-2xl lg:text-4xl uppercase
             text-blanco font-DelaGothicOne
             leading-tight"
          >
            ¿Por qué trabajar con
            <span class="text-primario">nosotros</span>?
          </h2>

          <!-- TEXTO -->
          <p
            class="text-sm md:text-base lg:text-lg
            text-blanco/90 font-light leading-relaxed"
          >
            Muchas empresas pierden oportunidades por tener una presencia
            digital desactualizada, lenta o que no refleja el verdadero valor de
            lo que ofrecen.
          </p>

          <p
            class="text-sm md:text-base lg:text-lg
            text-blanco/90 font-light leading-relaxed"
          >
            En KCM SMART desarrollamos sitios web informativos, rápidos y
            optimizados para SEO que fortalecen tu imagen, generan confianza y
            convierten visitas en clientes.
          </p>

          <p
            class="text-sm md:text-base lg:text-lg
            text-blanco/80 font-light leading-relaxed"
          >
            Trabajamos con tecnología moderna como Astro, TypeScript y
            WordPress.
          </p>

          <!-- ESTADÍSTICAS -->
          <div
            class="grid grid-cols-3 gap-6 mt-10 pt-6 border-t border-white/10"
          >
            <article class="flex flex-col">
              <span
                class="text-3xl lg:text-4xl
                   font-DelaGothicOne text-blanco"
              >
                +15
              </span>
              <span
                class="text-sm lg:text-base
                   font-medium text-blanco/80"
              >
                Páginas creadas
              </span>
            </article>

            <article class="flex flex-col">
              <span
                class="text-3xl lg:text-4xl
                   font-DelaGothicOne text-blanco"
              >
                +2
              </span>
              <span
                class="text-sm lg:text-base
                   font-medium text-blanco/80"
              >
                Años de experiencia
              </span>
            </article>

            <article class="flex flex-col">
              <span
                class="text-3xl lg:text-4xl
                   font-DelaGothicOne text-blanco"
              >
                100%
              </span>
              <span
                class="text-sm lg:text-base
                   font-medium text-blanco/80"
              >
                Clientes satisfechos
              </span>
            </article>
          </div>
        </div>

        <div class="mt-14 lg:mt-32
						grid grid-cols-2
						gap-4 lg:gap-6">
          <article
            class="h-full flex flex-col gap-4
							border border-terciario
							rounded-2xl p-5
							transition-all duration-300
							hover:border-primario
							hover:-translate-y-1
							hover:bg-white/5"
          >
            <Icon
              name="iconoir:coffee-cup"
              class="size-7 text-terciario transition-colors duration-300 group-hover:text-primario"
            />

            <h3
              class="text-terciario text-sm md:text-base lg:text-lg
						font-DelaGothicOne leading-snug"
            >
              Confianza desde el primer vistazo
            </h3>

            <p
              class="text-Blancogris text-xs md:text-sm lg:text-base
						font-Poppins font-light leading-relaxed"
            >
              Proyecta autoridad y profesionalismo con una web clara,
              estructurada y alineada a tu marca.
            </p>
          </article>

          <article
            class="h-full flex flex-col gap-4
							border border-terciario
							rounded-2xl p-5
							transition-all duration-300
							hover:border-primario
							hover:-translate-y-1
							hover:bg-white/5"
          >
            <Icon
              name="iconoir:security-pass"
              class="size-7 text-terciario transition-colors duration-300 group-hover:text-primario"
            />

            <h3
              class="text-terciario text-sm md:text-base lg:text-lg
						font-DelaGothicOne leading-snug"
            >
              Recupera oportunidades
            </h3>

            <p
              class="text-Blancogris text-xs md:text-sm lg:text-base
						font-Poppins font-light leading-relaxed"
            >
              Evita perder clientes por una web lenta, desactualizada o poco
              profesional.
            </p>
          </article>

          <article
            class="h-full flex flex-col gap-4
							border border-terciario
							rounded-2xl p-5
							transition-all duration-300
							hover:border-primario
							hover:-translate-y-1
							hover:bg-white/5"
          >
            <Icon
              name="iconoir:finder"
              class="size-7 text-terciario transition-colors duration-300 group-hover:text-primario"
            />

            <h3
              class="text-terciario text-sm md:text-base lg:text-lg
						font-DelaGothicOne leading-snug"
            >
              Acompañamiento real
            </h3>

            <p
              class="text-Blancogris text-xs md:text-sm lg:text-base
						font-Poppins font-light leading-relaxed"
            >
              Soporte antes, durante y después del lanzamiento para mantener tu
              sitio siempre optimizado.
            </p>
          </article>

          <article
            class="h-full flex flex-col gap-4
							border border-terciario
							rounded-2xl p-5
							transition-all duration-300
							hover:border-primario
							hover:-translate-y-1
							hover:bg-white/5"
          >
            <Icon
              name="iconoir:stat-up"
              class="size-7 text-terciario transition-colors duration-300 group-hover:text-primario"
            />

            <h3
              class="text-terciario text-sm md:text-base lg:text-lg
						font-DelaGothicOne leading-snug"
            >
              Crecimiento estratégico
            </h3>

            <p
              class="text-Blancogris text-xs md:text-sm lg:text-base
						font-Poppins font-light leading-relaxed"
            >
              Sitio optimizado para posicionar en Google y acompañar el
              crecimiento de tu negocio.
            </p>
          </article>
        </div>
      </div>

      <div
        class="max-w-4xl w-full flex justify-center mx-auto mt-32 text-blanco font-extralight"
      >
        <span
          class="font-Poppins text-xl lg:text-5xl text-center
             bg-linear-to-r from-Vdeg via-Rdeg to-Odeg
             bg-size-[200%_200%]
             bg-clip-text text-transparent
             animate-gradient-x"
        >
          “Me especializo en desarrollo web informativos o institucionales”
        </span>
      </div>
    </section>

    <section class="flex flex-col bg-Odeg p-3">
      <div class="w-full max-w-7xl mx-auto mt-32">
        <div class="flex flex-col gap-5 md:items-center">
          <h2
            class="text-2xl lg:text-4xl uppercase
             text-blanco font-DelaGothicOne
             leading-tight"
          >
            Esto incluye en
            <span class="text-primario">mis servicios</span>
          </h2>
          <p
            class="text-sm md:text-base lg:text-lg
            text-blanco/90 font-light leading-relaxed"
          >
            Una web bien hecha, moderna, rápida y optimizada para mostrar lo que
            ofreces.
          </p>
        </div>

        <div class="w-full mt-5 lg:mt-20 flex flex-col items-start gap-7">
          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">01</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              SEO técnico optimizado
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">02</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Investigación de palabras clave
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">03</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Copywriting e imágenes
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">04</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              prototipo personalizado
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">05</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Diseño moderno y responsive
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">06</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Integración de Google Analytics
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">07</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Formulario de contacto
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">08</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Libro de reclamaciones
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">09</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Correo profesional con tu dominio
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">10</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              Integración de redes sociales
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">11</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              OPTIMIZACIÓN DE CARGA
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">12</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              PoLÍTICA DE PRIVACIDAD Y POPUP
            </p>
          </div>

          <div
            class="w-full flex gap-4 text-grisClaro font-Poppins uppercase items-center py-4 border-b border-acento/30 group hover:border-primario"
          >
            <span class="text-[12px] group-hover:text-secundario">13</span>
            <p class="text-base font-bold group-hover:text-blanco lg:text-6xl">
              y MUCHO MÁS
            </p>
          </div>
        </div>

        <div class="flex justify-center mt-28">
          <a
            href="#"
            class="group w-fit relative overflow-hidden flex gap-5 items-center text-sm lg:text-base
								text-blanco font-Poppins font-bold
								bg-btn px-11 py-4 rounded-4xl
								transition-all duration-500
								hover:-translate-y-0.5
								hover:shadow-[0_15px_50px_rgba(0,0,0,0.25)]"
          >
            <!-- Efecto luz que cruza -->
            <span
              class="absolute inset-0 -translate-x-full
									bg-linear-to-r
									from-transparent
									via-white/30
									to-transparent
									group-hover:translate-x-full
									transition-transform duration-1000
									ease-[cubic-bezier(0.22,1,0.36,1)]"
            >
            </span>

            <span class="relative z-10"> Cotiza ahora por whatsapp </span>

            <Icon
              name="iconoir:whatsapp-solid"
              class="relative z-10 text-blanco size-6
									transition-transform duration-300
									group-hover:rotate-6 group-hover:scale-110"
            />
          </a>
        </div>
      </div>
    </section>

    <section
      class="w-full bg-linear-to-b from-0% from-Odeg to-100 via-50 via-Vdeg to-100% to-Odeg"
    >
      <div class="max-w-7xl mx-auto p-3 flex flex-col items-center">
        <div class="mt-32">
          <h2
            class="text-2xl lg:text-4xl uppercase
             text-blanco font-DelaGothicOne
             leading-tight"
          >
            Proyectos
            <span class="text-primario">realizados</span>
          </h2>
          <p
            class="text-sm md:text-base lg:text-lg
            text-blanco/90 font-light leading-relaxed"
          >
            Una web bien hecha, moderna, rápida y optimizada para mostrar lo que
            ofreces.
          </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-16">
          <article
            class="flex flex-col group transition-all duration-500 hover:-translate-y-2"
          >
            <!-- Imagen -->
            <div class="overflow-hidden rounded-t-4xl rounded-br-4xl">
              <Image
                src={ImagenProyecto1}
                alt="Imagen proyecto 1"
                width={350}
                height={320}
                class="rounded-t-4xl rounded-br-4xl w-full h-auto
             transition-transform duration-700 ease-[cubic-bezier(.22,1,.36,1)]
             group-hover:scale-105"
              />
            </div>

            <!-- Título -->
            <div
              class="py-5 flex flex-col items-center justify-center
           border border-acento
           rounded-bl-4xl rounded-tr-4xl
           bg-transparent
           transition-all duration-500
           group-hover:bg-white"
            >
              <h3
                class="text-blanco text-2xl font-DelaGothicOne
             transition-colors duration-500
             group-hover:text-black"
              >
                Aurum Customs
              </h3>
            </div>

            <!-- Descripción -->
            <div
              class="py-6 flex flex-col items-center justify-center
           border border-acento
           rounded-tl-4xl rounded-b-4xl p-6
           transition-all duration-500
           bg-transparent
           group-hover:bg-white"
            >
              <p
                class="text-blanco text-base font-light
             text-center leading-relaxed
             transition-colors duration-500
             group-hover:text-black"
              >
                Diseño y desarrollo del sitio aplicando la identidad de marca en
                un diseño profesional y moderno
              </p>

              <!-- Botón Destacado -->
              <a
                href="#"
                class="w-full mt-6 py-3
              rounded-2xl flex justify-center
              font-Poppins font-semibold
              transition-all duration-300
              bg-white text-black
              shadow-lg
              hover:-translate-y-1
              hover:scale-[1.02]
              active:scale-[0.98]"
              >
                Visitar sitio →
              </a>
            </div>
          </article>

		   <article
            class="flex flex-col group transition-all duration-500 hover:-translate-y-2"
          >
            <!-- Imagen -->
            <div class="overflow-hidden rounded-t-4xl rounded-br-4xl">
              <Image
                src={ImagenProyecto2}
                alt="Imagen proyecto 2"
                width={350}
                height={320}
                class="rounded-t-4xl rounded-br-4xl w-full h-auto
             transition-transform duration-700 ease-[cubic-bezier(.22,1,.36,1)]
             group-hover:scale-105"
              />
            </div>

            <!-- Título -->
            <div
              class="py-5 flex flex-col items-center justify-center
           border border-acento
           rounded-bl-4xl rounded-tr-4xl
           bg-transparent
           transition-all duration-500
           group-hover:bg-white"
            >
              <h3
                class="text-blanco text-2xl font-DelaGothicOne
             transition-colors duration-500
             group-hover:text-black"
              >
                Aurum Metals
              </h3>
            </div>

            <!-- Descripción -->
            <div
              class="py-6 flex flex-col items-center justify-center
           border border-acento
           rounded-tl-4xl rounded-b-4xl p-6
           transition-all duration-500
           bg-transparent
           group-hover:bg-white"
            >
              <p
                class="text-blanco text-base font-light
             text-center leading-relaxed
             transition-colors duration-500
             group-hover:text-black"
              >
                Diseño y desarrollo del sitio aplicando la identidad de marca en
                un diseño profesional y moderno
              </p>

              <!-- Botón Destacado -->
              <a
                href="#"
                class="w-full mt-6 py-3
              rounded-2xl flex justify-center
              font-Poppins font-semibold
              transition-all duration-300
              bg-white text-black
              shadow-lg
              hover:-translate-y-1
              hover:scale-[1.02]
              active:scale-[0.98]"
              >
                Visitar sitio →
              </a>
            </div>
          </article>



		   <article
            class="flex flex-col group transition-all duration-500 hover:-translate-y-2"
          >
            <!-- Imagen -->
            <div class="overflow-hidden rounded-t-4xl rounded-br-4xl">
              <Image
                src={ImagenProyecto3}
                alt="Imagen proyecto 3"
                width={350}
                height={320}
                class="rounded-t-4xl rounded-br-4xl w-full h-auto
             transition-transform duration-700 ease-[cubic-bezier(.22,1,.36,1)]
             group-hover:scale-105"
              />
            </div>

            <!-- Título -->
            <div
              class="py-5 flex flex-col items-center justify-center
           border border-acento
           rounded-bl-4xl rounded-tr-4xl
           bg-transparent
           transition-all duration-500
           group-hover:bg-white"
            >
              <h3
                class="text-blanco text-2xl font-DelaGothicOne
             transition-colors duration-500
             group-hover:text-black"
              >
                Cuotitas
              </h3>
            </div>

            <!-- Descripción -->
            <div
              class="py-6 flex flex-col items-center justify-center
           border border-acento
           rounded-tl-4xl rounded-b-4xl p-6
           transition-all duration-500
           bg-transparent
           group-hover:bg-white"
            >
              <p
                class="text-blanco text-base font-light
             text-center leading-relaxed
             transition-colors duration-500
             group-hover:text-black"
              >
                Diseño y desarrollo del sitio aplicando la identidad de marca en
                un diseño profesional y moderno
              </p>

              <!-- Botón Destacado -->
              <a
                href="#"
                class="w-full mt-6 py-3
              rounded-2xl flex justify-center
              font-Poppins font-semibold
              transition-all duration-300
              bg-white text-black
              shadow-lg
              hover:-translate-y-1
              hover:scale-[1.02]
              active:scale-[0.98]"
              >
                Visitar sitio →
              </a>
            </div>
          </article>



        </div>
      </div>
    </section>
  </main>
</Layout>
